body {
  overflow-x: hidden;
}

button, .btn {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#main {
  background-color: $near-black;
  min-height: 100vh;
}

#stage {
  height: 650px;
}

@media (max-width: 64em) {
  #stage {
    height: 400px;
  }
}
