body {
  overflow-x: hidden;
  background-color: $near-black;
  min-height: 100vh;
}

button, .btn {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#main-container {
  max-width: 1200px;
  height: 800px;
}

@media (max-width: 64em) {
  h1 {
    font-size: 28px
  }
  #main-container {
    height: 700px;
  }
}
