body {
  overflow-x: hidden;
}

button, .btn {
  user-select: none;
}

input {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#main {
  background-color: $near-black;
  min-height: 100vh;
}
