@keyframes drinkslideon {
  from {
    transform: translateX(600px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes recipeslideup {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.no-drink {
  text-align: center;
  color: $near-black-light;
  font-size: 16rem;
  font-weight: bold;
}

.current-drink-container {
  width: 120px;
  animation: drinkslideon 1s ease-out;
}

.drink-recipe {
  color: white;
  max-width: 250px;
  margin: 14px;
  text-transform: capitalize;
  animation: recipeslideup 2s ease-out;

  ul {
    list-style: none;
    padding: 0;

    li {
      text-transform: capitalize;
      color: $gray;
    }
  }
}

svg.drink-svg {
  width: 100%;
}

rect.glass {
  stroke-width: 0;
  fill: $gray;
}

@media (max-width: 64rem) {
  .no-drink {
    font-size: 12rem;
  }
}
