.cat-icon {
  width: 30px;
  margin-right: 4px;
}

.selected-ingredient {
  color: white;
  min-width: 60px;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  border-radius: 12px;
}
