@keyframes popin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cat-icon {
  width: 30px;
  margin-right: 4px;
}

.selected-ingredient {
  color: white;
  padding: 6px;
  margin: 6px;
  min-width: 50px;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: capitalize;
  border-radius: 4px;
  animation: popin 100ms ease-out;
}

.selected-ingredient-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
