$popup-height: 150px;
$popup-speed: 0.4s;

.bartop {
  position: relative; // for loader-container
  height: 120px;
  background: $tan;
}

.loader-container {
  position: absolute;
  left: 50%;
  z-index: -1;
}

.popup {
  transform: translateY(-$popup-height);
  visibility: visible;
  transition:
    visibility 0s linear,
    transform $popup-speed ease-out;
}

.popdown {
  transform: translateY(0);
  visibility: collapse;
  transition:
    transform $popup-speed ease-in,
    visibility 0s linear $popup-speed;
}

.btn-makedrink {
  position: relative;
  top: 0;
  z-index: 0;
  padding: 0.8em 1em;
  text-transform: uppercase;
  font-weight: bold;
  background: $brown;
  color: lighten($brown, 60%);
  text-shadow: 0px 2px 0px darken($brown, 10%);
  border-radius: 4px;
  box-shadow: 0px 6px 0px darken($brown, 10%);
  transition: 200ms ease;

  &:hover {
    top: -2px;
    box-shadow: 0px 8px 0px darken($brown, 10%);
  }

  &:active {
    top: 5px;
    box-shadow: 0px 1px 0px darken($brown, 10%);
  }
}
