.search-bar {
  border: none;
  border-bottom: 1px solid $near-black;
  background: white;
  width: 100%;

  input {
    background: transparent;
    color: lighten($near-black, 10%);
    text-align: left;
    font-size: 1em;
    padding: 1em 1em 1em 0em;
    border: none;
  }
}

ul.search-results-container {
  position: absolute;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
  border-radius: 0px 0px 4px 4px;

  li {
    text-align: left;
    padding: 0;
    height: 50px;
    cursor: pointer;
    text-transform: capitalize;

    .search-text {
      line-height: 50px;
    }
  }

  li:hover {
    background: transparentize($near-black, 0.90);
  }
}

.search-icon-container {
  width: 50px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
