$sidebar-anim-time: 200ms;

@media (max-width: 64em) {
  .sidebar--left, .sidebar--right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 36em;
    background: $near-black;
    transition: transform $sidebar-anim-time ease-out;
    z-index: 2;
  }

  .sidebar--left {
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar--right {
    right: 0;
    transform: translateX(100%);
  }

  .sidebar--show {
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: black;
  opacity: 0;
  transition: opacity $sidebar-anim-time ease-out;
}

.overlay--show {
  z-index: 1;
  opacity: 0.8;
}
