.bg-tan {
  background-color: $tan;
}

.bg-near-black {
  background-color: $near-black;
}

.fill-white {
  fill: white;
}

.tan {
  color: $tan;
}

.fill-black {
  fill: $near-black;
}

.width-1 {
  width: 1em;
}

.width-2 {
  width: 2em;
}

.height-1 {
  height: 1em;
}

.height-2 {
  height: 2em;
}

.height-3 {
  height: 3em;
}

.height-4 {
  height: 4em;
}


.flex-basis-0 {
  flex-basis: 0;
}

.clickable {
  cursor: pointer;
}
