$near-black: #111;
$near-black-light: lighten($near-black, 10%);
$tan: #af9664;
$gray: #9fb4c7;

#drink-svg {
  width: 100%;
  max-height: 40vh;
}

.glass {
   //stroke: #9FB4C7;
   stroke-width: 0;
   fill: #9FB4C7;
}

.ingredient {
   stroke-width: 0;
   //stroke: #28587B;
   fill: #28587B;
   opacity: 1;
}

.selected-ingredient {
  color: white;
  font-size: 1em;
  text-align: left;
}

.btn-makedrink {
  background: $near-black-light;
  border-radius: 4px;
  padding: 1em;
  div {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

}

.search-bar {
  border: none;
  border-bottom: 1px solid $near-black;
  color: lighten($near-black, 10%);
  text-align: left;
  background: white;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border-radius: 4px 4px 0px 0px;
}
