$near-black: #111;
$near-black-light: lighten($near-black, 10%);
$tan: #af9664;
$gray: #9fb4c7;

#main {
  background-color: $near-black;
  min-height: 100vh;
}

.bg-tan {
  background-color: $tan;
}

.bg-near-black {
  background-color: $near-black;
}

.tan {
  color: $tan;
}

.main-stage {
  height: 600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

svg.drink-svg {
  width: 100%;
}

rect.glass {
  stroke-width: 0;
  fill: $gray;
}

.current-drink-container {
  width: 120px;
}

.drink-recipe {
  color: white;
  max-width: 250px;
  margin: 14px;
  text-transform: uppercase;

  ul {
    list-style: none;
    padding: 0;

    li {
      text-transform: capitalize;
      color: $gray;
    }
  }
}

.prevdrink-icon-container {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.prevdrink-title {
  font-size: 0.8em;
  margin: 0;
  color: white;
  text-align: left;
}

li.prevdrink-ingredient, li.prevdrink-ingredient-extra {
  font-size: 0.6em;
  color: $gray;
  margin: 0;
  text-transform: capitalize;
}

li.prevdrink-ingredient-extra {
  color: $tan;
  text-transform: none;
}

.selected-ingredient {
  color: white;
  min-width: 60px;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  border-radius: 12px;
}

.btn-makedrink {
  background: $near-black-light;
  border-radius: 4px;
  padding: 1em;
  div {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.search-bar {
  border: none;
  border-bottom: 1px solid $near-black;
  background: white;
  width: 100%;

  .fa-search {
    //color: $tan;
  }

  input {
    background: transparent;
    color: lighten($near-black, 10%);
    text-align: left;
    font-size: 1em;
    padding: 1em;
    border: none;
  }
}

ul.search-results-container {
  position: absolute;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
  border-radius: 0px 0px 4px 4px;

  li {
    text-align: left;
    padding: 0;
    height: 50px;
    cursor: pointer;
    text-transform: capitalize;

    .search-text {
      line-height: 50px;
    }
  }

  li:hover {
    background: transparentize($near-black, 0.90);
  }
}

.search-icon-container {
  width: 50px;
  height: 50px;
  margin: 0;
}

h2 {
  text-align: left;
  color: $tan;
  border-bottom: 1px solid $tan;
}
